*{
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: aqua;
}

body, .quote_input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container {
    background-color: azure;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.header {
    position: absolute;
    top: 1rem;
    font-size: 4rem;
    color: blueviolet;
    font-weight: bold;
}

.timer {
    position: absolute;
    top: 5.5rem;
    font-size: 3rem;
    color: blueviolet;
    font-weight: bold;
}

.quote-display {
    margin-bottom: 1rem;
}

.quote-input {
    background-color: transparent;
    border: 2px solid black;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.quote-input:focus {
    border-color: blue;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

.new-quote {
    background-color: yellow;
    border: 2px solid black;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .2rem 0.6rem;
    font-size: 0.8rem;
    border-radius: .5rem;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 27%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .wpm {
    margin: 0;
    position: absolute;
    top: 80%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2rem;
    color: blueviolet;
  }
